header {
    background-image:
        linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
        url("files/2025/12/header.jpg") !important;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header,
header a {
    color: white !important;
}

header .container {
    padding-top: 0.75rem !important;
}

.menu-container {
    background: rgba(0,0,0,0.25);
}

.menu-container a {
    color: white !important;
}
